{% extends 'base.html' %}


{% block content %}

<form method='POST'>
    {% csrf_token %}
    <input type='file' name='file' id='files' multiple='multiple' />
    <input type='submit' value='Upload' />
</form>

<div id='displayList'>
    <p>Display List</p>
    <ul>
    </ul>
</div>

<script>

var fileInput = document.getElementById('files')
console.log(fileInput)
fileInput.addEventListener('change', fileInputChanged)

function fileInputChanged(){
    console.log('changed')
    var fileInput = document.getElementById('files')
    var filesList = fileInput.files
    var displayListDiv = document.getElementById('displayList')

    for (var i = 0; i < filesList.length; i++) {
        console.log(filesList[i].name)
        var liItem = document.createElement("li") // <li></li>
        var content = document.createTextNode(filesList[i].name + " " + filesList[i].size)
        liItem.appendChild(content)
        displayListDiv.appendChild(liItem)
    }


}


</script>

{% endblock content %}